on: [push]
jobs:
  BuildPDF:
    runs-on: ubuntu-22.04
    name: Build PDF from .tex
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Build PDF builder
        run: docker build -t pdfbuilder .
      - name: Build PDF
        run: docker run --mount src=`pwd`/resume,target=/resume,type=bind pdfbuilder
      - uses: actions/upload-artifact@v4
        with:
          name: resume
          path: resume/resume_artem_ageev.pdf
          retention-days: 1

  PublishPDF:
    needs: BuildPDF
    runs-on: ubuntu-22.04
    name: Publish PDF to Github Pages
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          ref: pages_build
      - name: Prepare to upload
        run: |
          git config user.name 'Artem Ageev'
          git config user.email 'codereptile@yandex.ru'
      - name: Remove existing resume
        run: rm -f resume_artem_ageev.pdf
      - name: Download resume from builder
        uses: actions/download-artifact@v4
        with:
          name: resume
          path: .
      - name: Push resume to Pages
        run: |
          git add resume_artem_ageev.pdf
          git commit -m "Push resume from CI" || true
          git push --set-upstream origin pages_build
